In [2]:
import pandas as pd

In [3]:
# Index generated automatically, 30 rows at the top, 30 at the bottom, age and weight defaults to floating point
# values
nba = pd.read_csv("nba.csv")
nba

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
5,Amir Johnson,Boston Celtics,90.0,PF,29.0,6-9,240.0,NaN,12000000.0
6,Jordan Mickey,Boston Celtics,55.0,PF,21.0,6-8,235.0,LSU,1170960.0
7,Kelly Olynyk,Boston Celtics,41.0,C,25.0,7-0,238.0,Gonzaga,2165160.0
8,Terry Rozier,Boston Celtics,12.0,PG,22.0,6-2,190.0,Louisville,1824360.0
9,Marcus Smart,Boston Celtics,36.0,PG,22.0,6-4,220.0,Oklahoma State,3431040.0
10,Jared Sullinger,Boston Celtics,7.0,C,24.0,6-9,260.0,Ohio State,2569260.0
11,Isaiah Thomas,Boston Celtics,4.0,PG,27.0,5-9,185.0,Washington,6912869.0
12,Evan Turner,Boston Celtics,11.0,SG,27.0,6-7,220.0,Ohio State,3425510.0
13,James Young,Boston Celtics,13.0,SG,20.0,6-6,215.0,Kentucky,1749840.0
14,Tyler Zeller,Boston Celtics,44.0,C,26.0,7-0,253.0,North Carolina,2616975.0
15,Bojan Bogdanovic,Brooklyn Nets,44.0,SG,27.0,6-8,216.0,NaN,3425510.0
16,Markel Brown,Brooklyn Nets,22.0,SG,24.0,6-3,190.0,Oklahoma State,845059.0
17,Wayne Ellington,Brooklyn Nets,21.0,SG,28.0,6-4,200.0,North Carolina,1500000.0
18,Rondae Hollis-Jefferson,Brooklyn Nets,24.0,SG,21.0,6-7,220.0,Arizona,1335480.0
19,Jarrett Jack,Brooklyn Nets,2.0,PG,32.0,6-3,200.0,Georgia Tech,6300000.0
20,Sergey Karasev,Brooklyn Nets,10.0,SG,22.0,6-7,208.0,NaN,1599840.0
21,Sean Kilpatrick,Brooklyn Nets,6.0,SG,26.0,6-4,219.0,Cincinnati,134215.0
22,Shane Larkin,Brooklyn Nets,0.0,PG,23.0,5-11,175.0,Miami (FL),1500000.0
23,Brook Lopez,Brooklyn Nets,11.0,C,28.0,7-0,275.0,Stanford,19689000.0
24,Chris McCullough,Brooklyn Nets,1.0,PF,21.0,6-11,200.0,Syracuse,1140240.0
25,Willie Reed,Brooklyn Nets,33.0,PF,26.0,6-10,220.0,Saint Louis,947276.0
26,Thomas Robinson,Brooklyn Nets,41.0,PF,25.0,6-10,237.0,Kansas,981348.0
27,Henry Sims,Brooklyn Nets,14.0,C,26.0,6-10,248.0,Georgetown,947276.0
28,Donald Sloan,Brooklyn Nets,15.0,PG,28.0,6-3,205.0,Texas A&M,947276.0
29,Thaddeus Young,Brooklyn Nets,30.0,PF,27.0,6-8,221.0,Georgia Tech,11235955.0
...,...,...,...,...,...,...,...,...,...
428,Al-Farouq Aminu,Portland Trail Blazers,8.0,SF,25.0,6-9,215.0,Wake Forest,8042895.0
429,Pat Connaughton,Portland Trail Blazers,5.0,SG,23.0,6-5,206.0,Notre Dame,625093.0
430,Allen Crabbe,Portland Trail Blazers,23.0,SG,24.0,6-6,210.0,California,947276.0
431,Ed Davis,Portland Trail Blazers,17.0,C,27.0,6-10,240.0,North Carolina,6980802.0
432,Maurice Harkless,Portland Trail Blazers,4.0,SF,23.0,6-9,215.0,St. John's,2894059.0
433,Gerald Henderson,Portland Trail Blazers,9.0,SG,28.0,6-5,215.0,Duke,6000000.0
434,Chris Kaman,Portland Trail Blazers,35.0,C,34.0,7-0,265.0,Central Michigan,5016000.0
435,Meyers Leonard,Portland Trail Blazers,11.0,PF,24.0,7-1,245.0,Illinois,3075880.0
436,Damian Lillard,Portland Trail Blazers,0.0,PG,25.0,6-3,195.0,Weber State,4236287.0
437,C.J. McCollum,Portland Trail Blazers,3.0,SG,24.0,6-4,200.0,Lehigh,2525160.0
438,Luis Montero,Portland Trail Blazers,44.0,SG,23.0,6-7,185.0,Westchester CC,525093.0
439,Mason Plumlee,Portland Trail Blazers,24.0,C,26.0,6-11,235.0,Duke,1415520.0
440,Brian Roberts,Portland Trail Blazers,2.0,PG,30.0,6-1,173.0,Dayton,2854940.0
441,Noah Vonleh,Portland Trail Blazers,21.0,PF,20.0,6-9,240.0,Indiana,2637720.0
442,Trevor Booker,Utah Jazz,33.0,PF,28.0,6-8,228.0,Clemson,4775000.0
443,Trey Burke,Utah Jazz,3.0,PG,23.0,6-1,191.0,Michigan,2658240.0
444,Alec Burks,Utah Jazz,10.0,SG,24.0,6-6,214.0,Colorado,9463484.0
445,Dante Exum,Utah Jazz,11.0,PG,20.0,6-6,190.0,NaN,3777720.0
446,Derrick Favors,Utah Jazz,15.0,PF,24.0,6-10,265.0,Georgia Tech,12000000.0
447,Rudy Gobert,Utah Jazz,27.0,C,23.0,7-1,245.0,NaN,1175880.0
448,Gordon Hayward,Utah Jazz,20.0,SF,26.0,6-8,226.0,Butler,15409570.0
449,Rodney Hood,Utah Jazz,5.0,SG,23.0,6-8,206.0,Duke,1348440.0
450,Joe Ingles,Utah Jazz,2.0,SF,28.0,6-8,226.0,NaN,2050000.0
451,Chris Johnson,Utah Jazz,23.0,SF,26.0,6-6,206.0,Dayton,981348.0
452,Trey Lyles,Utah Jazz,41.0,PF,20.0,6-10,234.0,Kentucky,2239800.0
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0
457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
nba.Team.value_counts()

New Orleans Pelicans      19
Memphis Grizzlies         18
Milwaukee Bucks           16
New York Knicks           16
Denver Nuggets            15
Charlotte Hornets         15
Los Angeles Lakers        15
Chicago Bulls             15
San Antonio Spurs         15
Philadelphia 76ers        15
Toronto Raptors           15
Detroit Pistons           15
Boston Celtics            15
Miami Heat                15
Utah Jazz                 15
Portland Trail Blazers    15
Los Angeles Clippers      15
Phoenix Suns              15
Golden State Warriors     15
Cleveland Cavaliers       15
Washington Wizards        15
Atlanta Hawks             15
Brooklyn Nets             15
Houston Rockets           15
Dallas Mavericks          15
Sacramento Kings          15
Indiana Pacers            15
Oklahoma City Thunder     15
Orlando Magic             14
Minnesota Timberwolves    14
Name: Team, dtype: int64

In [5]:
nba[nba["Team"] == "Golden State Warriors"]

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
76,Leandro Barbosa,Golden State Warriors,19.0,SG,33.0,6-3,194.0,NaN,2500000.0
77,Harrison Barnes,Golden State Warriors,40.0,SF,24.0,6-8,225.0,North Carolina,3873398.0
78,Andrew Bogut,Golden State Warriors,12.0,C,31.0,7-0,260.0,Utah,13800000.0
79,Ian Clark,Golden State Warriors,21.0,SG,25.0,6-3,175.0,Belmont,947276.0
80,Stephen Curry,Golden State Warriors,30.0,PG,28.0,6-3,190.0,Davidson,11370786.0
81,Festus Ezeli,Golden State Warriors,31.0,C,26.0,6-11,265.0,Vanderbilt,2008748.0
82,Draymond Green,Golden State Warriors,23.0,PF,26.0,6-7,230.0,Michigan State,14260870.0
83,Andre Iguodala,Golden State Warriors,9.0,SF,32.0,6-6,215.0,Arizona,11710456.0
84,Shaun Livingston,Golden State Warriors,34.0,PG,30.0,6-7,192.0,NaN,5543725.0
85,Kevon Looney,Golden State Warriors,36.0,SF,20.0,6-9,220.0,UCLA,1131960.0
86,James Michael McAdoo,Golden State Warriors,20.0,SF,23.0,6-9,240.0,North Carolina,845059.0
87,Brandon Rush,Golden State Warriors,4.0,SF,30.0,6-6,220.0,Kansas,1270964.0
88,Marreese Speights,Golden State Warriors,5.0,C,28.0,6-10,255.0,Florida,3815000.0
89,Klay Thompson,Golden State Warriors,11.0,SG,26.0,6-7,215.0,Washington State,15501000.0
90,Anderson Varejao,Golden State Warriors,18.0,PF,33.0,6-11,273.0,NaN,289755.0

# Shared Methods and Attributes

In [8]:
nba.head()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0

In [10]:
# Number of rows
nba.head(7)

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
5,Amir Johnson,Boston Celtics,90.0,PF,29.0,6-9,240.0,NaN,12000000.0
6,Jordan Mickey,Boston Celtics,55.0,PF,21.0,6-8,235.0,LSU,1170960.0

In [11]:
nba.head(1)

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0

In [7]:
nba.tail()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0
457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
nba.index

RangeIndex(start=0, stop=458, step=1)

In [14]:
# Array of arrays
nba.values

array([['Avery Bradley', 'Boston Celtics', 0.0, ..., 180.0, 'Texas',
        7730337.0],
       ['Jae Crowder', 'Boston Celtics', 99.0, ..., 235.0, 'Marquette',
        6796117.0],
       ['John Holland', 'Boston Celtics', 30.0, ..., 205.0,
        'Boston University', nan],
       ...,
       ['Tibor Pleiss', 'Utah Jazz', 21.0, ..., 256.0, nan, 2900000.0],
       ['Jeff Withey', 'Utah Jazz', 24.0, ..., 231.0, 'Kansas', 947276.0],
       [nan, nan, nan, ..., nan, nan, nan]], dtype=object)

In [12]:
# Python tuple rows by columns
nba.shape

(458, 9)

In [17]:
nba.dtypes

Name         object
Team         object
Number      float64
Position     object
Age         float64
Height       object
Weight      float64
College      object
Salary      float64
dtype: object

In [18]:
nba.head()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0

In [19]:
# Array of column names
nba.columns

Index([u'Name', u'Team', u'Number', u'Position', u'Age', u'Height', u'Weight',
       u'College', u'Salary'],
      dtype='object')

In [20]:
# Index combines it with columns
nba.axes

[RangeIndex(start=0, stop=458, step=1),
 Index([u'Name', u'Team', u'Number', u'Position', u'Age', u'Height', u'Weight',
        u'College', u'Salary'],
       dtype='object')]

In [21]:
# Summary of a df- 4 are float64, 5 are objects- can see some salaries are missing, not available on a series
nba.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 458 entries, 0 to 457
Data columns (total 9 columns):
Name        457 non-null object
Team        457 non-null object
Number      457 non-null float64
Position    457 non-null object
Age         457 non-null float64
Height      457 non-null object
Weight      457 non-null float64
College     373 non-null object
Salary      446 non-null float64
dtypes: float64(4), object(5)
memory usage: 32.3+ KB

In [22]:
# Series- index is datatypes value is # with that datatypes- take away is that there are unique attributes and methods to both, memorize through
# practice and experience
nba.get_dtype_counts()

float64    4
object     5
dtype: int64

# Differences between Shared Methods

In [20]:
# Sum behaves differently in series and data frames
pd.read_csv("revenue.csv")

      Date  New York  Los Angeles  Miami
0   1/1/16       985          122    499
1   1/2/16       738          788    534
2   1/3/16        14           20    933
3   1/4/16       730          904    885
4   1/5/16       114           71    253
5   1/6/16       936          502    497
6   1/7/16       123          996    115
7   1/8/16       935          492    886
8   1/9/16       846          954    823
9  1/10/16        54          285    216

In [18]:
rev = pd.read_csv("revenue.csv", index_col='Date')

In [19]:
rev.head(3)

        New York  Los Angeles  Miami
Date
1/1/16       985          122    499
1/2/16       738          788    534
1/3/16        14           20    933

In [24]:
s = pd.Series([1, 2, 3])
s
s.sum()

6

In [26]:
s.sum(axis = '1')

ValueError: No axis named 1 for object type <class 'pandas.core.series.Series'>

In [21]:
# Columns and the sum of all the values for that column
rev.sum()

New York       5475
Los Angeles    5134
Miami          5641
dtype: int64

In [38]:
rev.sum(axis = "index")

New York       5475
Los Angeles    5134
Miami          5641
dtype: int64

In [39]:
# Sum by date, axis = 0, get the same result, axis = 'index' same result
rev.sum(axis = 1)

Date
1/1/16     1606
1/2/16     2060
1/3/16      967
1/4/16     2519
1/5/16      438
1/6/16     1935
1/7/16     1234
1/8/16     2313
1/9/16     2623
1/10/16     555
dtype: int64

In [40]:
rev.sum(axis = "columns")

Date
1/1/16     1606
1/2/16     2060
1/3/16      967
1/4/16     2519
1/5/16      438
1/6/16     1935
1/7/16     1234
1/8/16     2313
1/9/16     2623
1/10/16     555
dtype: int64

# Select One Column from a DataFrame

In [29]:
nba = pd.read_csv("nba.csv")
nba.head(3)

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN

In [31]:
# Extract a column from a DF we get a series- takes index from the DF
nba.Name

0                Avery Bradley
1                  Jae Crowder
2                 John Holland
3                  R.J. Hunter
4                Jonas Jerebko
5                 Amir Johnson
6                Jordan Mickey
7                 Kelly Olynyk
8                 Terry Rozier
9                 Marcus Smart
10             Jared Sullinger
11               Isaiah Thomas
12                 Evan Turner
13                 James Young
14                Tyler Zeller
15            Bojan Bogdanovic
16                Markel Brown
17             Wayne Ellington
18     Rondae Hollis-Jefferson
19                Jarrett Jack
20              Sergey Karasev
21             Sean Kilpatrick
22                Shane Larkin
23                 Brook Lopez
24            Chris McCullough
25                 Willie Reed
26             Thomas Robinson
27                  Henry Sims
28                Donald Sloan
29              Thaddeus Young
                ...
428            Al-Farouq Aminu
429            Pat Connaughton
430               Allen Crabbe
431                   Ed Davis
432           Maurice Harkless
433           Gerald Henderson
434                Chris Kaman
435             Meyers Leonard
436             Damian Lillard
437              C.J. McCollum
438               Luis Montero
439              Mason Plumlee
440              Brian Roberts
441                Noah Vonleh
442              Trevor Booker
443                 Trey Burke
444                 Alec Burks
445                 Dante Exum
446             Derrick Favors
447                Rudy Gobert
448             Gordon Hayward
449                Rodney Hood
450                 Joe Ingles
451              Chris Johnson
452                 Trey Lyles
453               Shelvin Mack
454                  Raul Neto
455               Tibor Pleiss
456                Jeff Withey
457                        NaN
Name: Name, Length: 458, dtype: object

In [32]:
nba.Number

0       0.0
1      99.0
2      30.0
3      28.0
4       8.0
5      90.0
6      55.0
7      41.0
8      12.0
9      36.0
10      7.0
11      4.0
12     11.0
13     13.0
14     44.0
15     44.0
16     22.0
17     21.0
18     24.0
19      2.0
20     10.0
21      6.0
22      0.0
23     11.0
24      1.0
25     33.0
26     41.0
27     14.0
28     15.0
29     30.0
       ...
428     8.0
429     5.0
430    23.0
431    17.0
432     4.0
433     9.0
434    35.0
435    11.0
436     0.0
437     3.0
438    44.0
439    24.0
440     2.0
441    21.0
442    33.0
443     3.0
444    10.0
445    11.0
446    15.0
447    27.0
448    20.0
449     5.0
450     2.0
451    23.0
452    41.0
453     8.0
454    25.0
455    21.0
456    24.0
457     NaN
Name: Number, Length: 458, dtype: float64

In [35]:
# Case sensitive
nba.salary

AttributeError: 'DataFrame' object has no attribute 'salary'

In [37]:
# Save us some space- this syntax only works when the column name doesn't have spaces
nba.Salary
Output = None

In [40]:
nba["Name"]

0                Avery Bradley
1                  Jae Crowder
2                 John Holland
3                  R.J. Hunter
4                Jonas Jerebko
5                 Amir Johnson
6                Jordan Mickey
7                 Kelly Olynyk
8                 Terry Rozier
9                 Marcus Smart
10             Jared Sullinger
11               Isaiah Thomas
12                 Evan Turner
13                 James Young
14                Tyler Zeller
15            Bojan Bogdanovic
16                Markel Brown
17             Wayne Ellington
18     Rondae Hollis-Jefferson
19                Jarrett Jack
20              Sergey Karasev
21             Sean Kilpatrick
22                Shane Larkin
23                 Brook Lopez
24            Chris McCullough
25                 Willie Reed
26             Thomas Robinson
27                  Henry Sims
28                Donald Sloan
29              Thaddeus Young
                ...
428            Al-Farouq Aminu
429            Pat Connaughton
430               Allen Crabbe
431                   Ed Davis
432           Maurice Harkless
433           Gerald Henderson
434                Chris Kaman
435             Meyers Leonard
436             Damian Lillard
437              C.J. McCollum
438               Luis Montero
439              Mason Plumlee
440              Brian Roberts
441                Noah Vonleh
442              Trevor Booker
443                 Trey Burke
444                 Alec Burks
445                 Dante Exum
446             Derrick Favors
447                Rudy Gobert
448             Gordon Hayward
449                Rodney Hood
450                 Joe Ingles
451              Chris Johnson
452                 Trey Lyles
453               Shelvin Mack
454                  Raul Neto
455               Tibor Pleiss
456                Jeff Withey
457                        NaN
Name: Name, Length: 458, dtype: object

In [46]:
type(nba["Salary"])

pandas.core.series.Series

In [47]:
nba["Name"].head(5)

0    Avery Bradley
1      Jae Crowder
2     John Holland
3      R.J. Hunter
4    Jonas Jerebko
Name: Name, dtype: object

# Select Two or More Columns from a Dataframe

In [48]:
# Pass a Python list
nba[["Name", "Number", "Salary"]]

                        Name  Number      Salary
0              Avery Bradley     0.0   7730337.0
1                Jae Crowder    99.0   6796117.0
2               John Holland    30.0         NaN
3                R.J. Hunter    28.0   1148640.0
4              Jonas Jerebko     8.0   5000000.0
5               Amir Johnson    90.0  12000000.0
6              Jordan Mickey    55.0   1170960.0
7               Kelly Olynyk    41.0   2165160.0
8               Terry Rozier    12.0   1824360.0
9               Marcus Smart    36.0   3431040.0
10           Jared Sullinger     7.0   2569260.0
11             Isaiah Thomas     4.0   6912869.0
12               Evan Turner    11.0   3425510.0
13               James Young    13.0   1749840.0
14              Tyler Zeller    44.0   2616975.0
15          Bojan Bogdanovic    44.0   3425510.0
16              Markel Brown    22.0    845059.0
17           Wayne Ellington    21.0   1500000.0
18   Rondae Hollis-Jefferson    24.0   1335480.0
19              Jarrett Jack     2.0   6300000.0
20            Sergey Karasev    10.0   1599840.0
21           Sean Kilpatrick     6.0    134215.0
22              Shane Larkin     0.0   1500000.0
23               Brook Lopez    11.0  19689000.0
24          Chris McCullough     1.0   1140240.0
25               Willie Reed    33.0    947276.0
26           Thomas Robinson    41.0    981348.0
27                Henry Sims    14.0    947276.0
28              Donald Sloan    15.0    947276.0
29            Thaddeus Young    30.0  11235955.0
..                       ...     ...         ...
428          Al-Farouq Aminu     8.0   8042895.0
429          Pat Connaughton     5.0    625093.0
430             Allen Crabbe    23.0    947276.0
431                 Ed Davis    17.0   6980802.0
432         Maurice Harkless     4.0   2894059.0
433         Gerald Henderson     9.0   6000000.0
434              Chris Kaman    35.0   5016000.0
435           Meyers Leonard    11.0   3075880.0
436           Damian Lillard     0.0   4236287.0
437            C.J. McCollum     3.0   2525160.0
438             Luis Montero    44.0    525093.0
439            Mason Plumlee    24.0   1415520.0
440            Brian Roberts     2.0   2854940.0
441              Noah Vonleh    21.0   2637720.0
442            Trevor Booker    33.0   4775000.0
443               Trey Burke     3.0   2658240.0
444               Alec Burks    10.0   9463484.0
445               Dante Exum    11.0   3777720.0
446           Derrick Favors    15.0  12000000.0
447              Rudy Gobert    27.0   1175880.0
448           Gordon Hayward    20.0  15409570.0
449              Rodney Hood     5.0   1348440.0
450               Joe Ingles     2.0   2050000.0
451            Chris Johnson    23.0    981348.0
452               Trey Lyles    41.0   2239800.0
453             Shelvin Mack     8.0   2433333.0
454                Raul Neto    25.0    900000.0
455             Tibor Pleiss    21.0   2900000.0
456              Jeff Withey    24.0    947276.0
457                      NaN     NaN         NaN

[458 rows x 3 columns]

In [50]:
type(nba[["Name", "Team"]])

pandas.core.frame.DataFrame

In [51]:
# Can reorder at will
nba[["Team", "Name"]]

                       Team                     Name
0            Boston Celtics            Avery Bradley
1            Boston Celtics              Jae Crowder
2            Boston Celtics             John Holland
3            Boston Celtics              R.J. Hunter
4            Boston Celtics            Jonas Jerebko
5            Boston Celtics             Amir Johnson
6            Boston Celtics            Jordan Mickey
7            Boston Celtics             Kelly Olynyk
8            Boston Celtics             Terry Rozier
9            Boston Celtics             Marcus Smart
10           Boston Celtics          Jared Sullinger
11           Boston Celtics            Isaiah Thomas
12           Boston Celtics              Evan Turner
13           Boston Celtics              James Young
14           Boston Celtics             Tyler Zeller
15            Brooklyn Nets         Bojan Bogdanovic
16            Brooklyn Nets             Markel Brown
17            Brooklyn Nets          Wayne Ellington
18            Brooklyn Nets  Rondae Hollis-Jefferson
19            Brooklyn Nets             Jarrett Jack
20            Brooklyn Nets           Sergey Karasev
21            Brooklyn Nets          Sean Kilpatrick
22            Brooklyn Nets             Shane Larkin
23            Brooklyn Nets              Brook Lopez
24            Brooklyn Nets         Chris McCullough
25            Brooklyn Nets              Willie Reed
26            Brooklyn Nets          Thomas Robinson
27            Brooklyn Nets               Henry Sims
28            Brooklyn Nets             Donald Sloan
29            Brooklyn Nets           Thaddeus Young
..                      ...                      ...
428  Portland Trail Blazers          Al-Farouq Aminu
429  Portland Trail Blazers          Pat Connaughton
430  Portland Trail Blazers             Allen Crabbe
431  Portland Trail Blazers                 Ed Davis
432  Portland Trail Blazers         Maurice Harkless
433  Portland Trail Blazers         Gerald Henderson
434  Portland Trail Blazers              Chris Kaman
435  Portland Trail Blazers           Meyers Leonard
436  Portland Trail Blazers           Damian Lillard
437  Portland Trail Blazers            C.J. McCollum
438  Portland Trail Blazers             Luis Montero
439  Portland Trail Blazers            Mason Plumlee
440  Portland Trail Blazers            Brian Roberts
441  Portland Trail Blazers              Noah Vonleh
442               Utah Jazz            Trevor Booker
443               Utah Jazz               Trey Burke
444               Utah Jazz               Alec Burks
445               Utah Jazz               Dante Exum
446               Utah Jazz           Derrick Favors
447               Utah Jazz              Rudy Gobert
448               Utah Jazz           Gordon Hayward
449               Utah Jazz              Rodney Hood
450               Utah Jazz               Joe Ingles
451               Utah Jazz            Chris Johnson
452               Utah Jazz               Trey Lyles
453               Utah Jazz             Shelvin Mack
454               Utah Jazz                Raul Neto
455               Utah Jazz             Tibor Pleiss
456               Utah Jazz              Jeff Withey
457                     NaN                      NaN

[458 rows x 2 columns]

In [52]:
nba[["Team", "Name"]].head(3)

             Team           Name
0  Boston Celtics  Avery Bradley
1  Boston Celtics    Jae Crowder
2  Boston Celtics   John Holland

In [53]:
nba[["Number", "College"]]

     Number            College
0       0.0              Texas
1      99.0          Marquette
2      30.0  Boston University
3      28.0      Georgia State
4       8.0                NaN
5      90.0                NaN
6      55.0                LSU
7      41.0            Gonzaga
8      12.0         Louisville
9      36.0     Oklahoma State
10      7.0         Ohio State
11      4.0         Washington
12     11.0         Ohio State
13     13.0           Kentucky
14     44.0     North Carolina
15     44.0                NaN
16     22.0     Oklahoma State
17     21.0     North Carolina
18     24.0            Arizona
19      2.0       Georgia Tech
20     10.0                NaN
21      6.0         Cincinnati
22      0.0         Miami (FL)
23     11.0           Stanford
24      1.0           Syracuse
25     33.0        Saint Louis
26     41.0             Kansas
27     14.0         Georgetown
28     15.0          Texas A&M
29     30.0       Georgia Tech
..      ...                ...
428     8.0        Wake Forest
429     5.0         Notre Dame
430    23.0         California
431    17.0     North Carolina
432     4.0         St. John's
433     9.0               Duke
434    35.0   Central Michigan
435    11.0           Illinois
436     0.0        Weber State
437     3.0             Lehigh
438    44.0     Westchester CC
439    24.0               Duke
440     2.0             Dayton
441    21.0            Indiana
442    33.0            Clemson
443     3.0           Michigan
444    10.0           Colorado
445    11.0                NaN
446    15.0       Georgia Tech
447    27.0                NaN
448    20.0             Butler
449     5.0               Duke
450     2.0                NaN
451    23.0             Dayton
452    41.0           Kentucky
453     8.0             Butler
454    25.0                NaN
455    21.0                NaN
456    24.0             Kansas
457     NaN                NaN

[458 rows x 2 columns]

In [56]:
nba[["Salary", "Team", "Name"]].tail()

        Salary       Team          Name
453  2433333.0  Utah Jazz  Shelvin Mack
454   900000.0  Utah Jazz     Raul Neto
455  2900000.0  Utah Jazz  Tibor Pleiss
456   947276.0  Utah Jazz   Jeff Withey
457        NaN        NaN           NaN

In [57]:
# Can also pass the list as such- syntax is cleaner don't have two bracketsf
select = ["Salary", "Team", "Name"]

In [58]:
nba[select]

         Salary                    Team                     Name
0     7730337.0          Boston Celtics            Avery Bradley
1     6796117.0          Boston Celtics              Jae Crowder
2           NaN          Boston Celtics             John Holland
3     1148640.0          Boston Celtics              R.J. Hunter
4     5000000.0          Boston Celtics            Jonas Jerebko
5    12000000.0          Boston Celtics             Amir Johnson
6     1170960.0          Boston Celtics            Jordan Mickey
7     2165160.0          Boston Celtics             Kelly Olynyk
8     1824360.0          Boston Celtics             Terry Rozier
9     3431040.0          Boston Celtics             Marcus Smart
10    2569260.0          Boston Celtics          Jared Sullinger
11    6912869.0          Boston Celtics            Isaiah Thomas
12    3425510.0          Boston Celtics              Evan Turner
13    1749840.0          Boston Celtics              James Young
14    2616975.0          Boston Celtics             Tyler Zeller
15    3425510.0           Brooklyn Nets         Bojan Bogdanovic
16     845059.0           Brooklyn Nets             Markel Brown
17    1500000.0           Brooklyn Nets          Wayne Ellington
18    1335480.0           Brooklyn Nets  Rondae Hollis-Jefferson
19    6300000.0           Brooklyn Nets             Jarrett Jack
20    1599840.0           Brooklyn Nets           Sergey Karasev
21     134215.0           Brooklyn Nets          Sean Kilpatrick
22    1500000.0           Brooklyn Nets             Shane Larkin
23   19689000.0           Brooklyn Nets              Brook Lopez
24    1140240.0           Brooklyn Nets         Chris McCullough
25     947276.0           Brooklyn Nets              Willie Reed
26     981348.0           Brooklyn Nets          Thomas Robinson
27     947276.0           Brooklyn Nets               Henry Sims
28     947276.0           Brooklyn Nets             Donald Sloan
29   11235955.0           Brooklyn Nets           Thaddeus Young
..          ...                     ...                      ...
428   8042895.0  Portland Trail Blazers          Al-Farouq Aminu
429    625093.0  Portland Trail Blazers          Pat Connaughton
430    947276.0  Portland Trail Blazers             Allen Crabbe
431   6980802.0  Portland Trail Blazers                 Ed Davis
432   2894059.0  Portland Trail Blazers         Maurice Harkless
433   6000000.0  Portland Trail Blazers         Gerald Henderson
434   5016000.0  Portland Trail Blazers              Chris Kaman
435   3075880.0  Portland Trail Blazers           Meyers Leonard
436   4236287.0  Portland Trail Blazers           Damian Lillard
437   2525160.0  Portland Trail Blazers            C.J. McCollum
438    525093.0  Portland Trail Blazers             Luis Montero
439   1415520.0  Portland Trail Blazers            Mason Plumlee
440   2854940.0  Portland Trail Blazers            Brian Roberts
441   2637720.0  Portland Trail Blazers              Noah Vonleh
442   4775000.0               Utah Jazz            Trevor Booker
443   2658240.0               Utah Jazz               Trey Burke
444   9463484.0               Utah Jazz               Alec Burks
445   3777720.0               Utah Jazz               Dante Exum
446  12000000.0               Utah Jazz           Derrick Favors
447   1175880.0               Utah Jazz              Rudy Gobert
448  15409570.0               Utah Jazz           Gordon Hayward
449   1348440.0               Utah Jazz              Rodney Hood
450   2050000.0               Utah Jazz               Joe Ingles
451    981348.0               Utah Jazz            Chris Johnson
452   2239800.0               Utah Jazz               Trey Lyles
453   2433333.0               Utah Jazz             Shelvin Mack
454    900000.0               Utah Jazz                Raul Neto
455   2900000.0               Utah Jazz             Tibor Pleiss
456    947276.0               Utah Jazz              Jeff Withey
457         NaN                     NaN                      NaN

[458 rows x 3 columns]

# Adding New Column to DataFrame

In [60]:
nba.head(3)

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN

In [61]:
# Scalar- can also give a series
nba["Sport"] = "Basketball"

In [62]:
nba

,Name,Team,Number,Position,Age,Height,Weight,College,Salary,Sport
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0,Basketball
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0,Basketball
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN,Basketball
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0,Basketball
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0,Basketball
5,Amir Johnson,Boston Celtics,90.0,PF,29.0,6-9,240.0,NaN,12000000.0,Basketball
6,Jordan Mickey,Boston Celtics,55.0,PF,21.0,6-8,235.0,LSU,1170960.0,Basketball
7,Kelly Olynyk,Boston Celtics,41.0,C,25.0,7-0,238.0,Gonzaga,2165160.0,Basketball
8,Terry Rozier,Boston Celtics,12.0,PG,22.0,6-2,190.0,Louisville,1824360.0,Basketball
9,Marcus Smart,Boston Celtics,36.0,PG,22.0,6-4,220.0,Oklahoma State,3431040.0,Basketball
10,Jared Sullinger,Boston Celtics,7.0,C,24.0,6-9,260.0,Ohio State,2569260.0,Basketball
11,Isaiah Thomas,Boston Celtics,4.0,PG,27.0,5-9,185.0,Washington,6912869.0,Basketball
12,Evan Turner,Boston Celtics,11.0,SG,27.0,6-7,220.0,Ohio State,3425510.0,Basketball
13,James Young,Boston Celtics,13.0,SG,20.0,6-6,215.0,Kentucky,1749840.0,Basketball
14,Tyler Zeller,Boston Celtics,44.0,C,26.0,7-0,253.0,North Carolina,2616975.0,Basketball
15,Bojan Bogdanovic,Brooklyn Nets,44.0,SG,27.0,6-8,216.0,NaN,3425510.0,Basketball
16,Markel Brown,Brooklyn Nets,22.0,SG,24.0,6-3,190.0,Oklahoma State,845059.0,Basketball
17,Wayne Ellington,Brooklyn Nets,21.0,SG,28.0,6-4,200.0,North Carolina,1500000.0,Basketball
18,Rondae Hollis-Jefferson,Brooklyn Nets,24.0,SG,21.0,6-7,220.0,Arizona,1335480.0,Basketball
19,Jarrett Jack,Brooklyn Nets,2.0,PG,32.0,6-3,200.0,Georgia Tech,6300000.0,Basketball
20,Sergey Karasev,Brooklyn Nets,10.0,SG,22.0,6-7,208.0,NaN,1599840.0,Basketball
21,Sean Kilpatrick,Brooklyn Nets,6.0,SG,26.0,6-4,219.0,Cincinnati,134215.0,Basketball
22,Shane Larkin,Brooklyn Nets,0.0,PG,23.0,5-11,175.0,Miami (FL),1500000.0,Basketball
23,Brook Lopez,Brooklyn Nets,11.0,C,28.0,7-0,275.0,Stanford,19689000.0,Basketball
24,Chris McCullough,Brooklyn Nets,1.0,PF,21.0,6-11,200.0,Syracuse,1140240.0,Basketball
25,Willie Reed,Brooklyn Nets,33.0,PF,26.0,6-10,220.0,Saint Louis,947276.0,Basketball
26,Thomas Robinson,Brooklyn Nets,41.0,PF,25.0,6-10,237.0,Kansas,981348.0,Basketball
27,Henry Sims,Brooklyn Nets,14.0,C,26.0,6-10,248.0,Georgetown,947276.0,Basketball
28,Donald Sloan,Brooklyn Nets,15.0,PG,28.0,6-3,205.0,Texas A&M,947276.0,Basketball
29,Thaddeus Young,Brooklyn Nets,30.0,PF,27.0,6-8,221.0,Georgia Tech,11235955.0,Basketball
...,...,...,...,...,...,...,...,...,...,...
428,Al-Farouq Aminu,Portland Trail Blazers,8.0,SF,25.0,6-9,215.0,Wake Forest,8042895.0,Basketball
429,Pat Connaughton,Portland Trail Blazers,5.0,SG,23.0,6-5,206.0,Notre Dame,625093.0,Basketball
430,Allen Crabbe,Portland Trail Blazers,23.0,SG,24.0,6-6,210.0,California,947276.0,Basketball
431,Ed Davis,Portland Trail Blazers,17.0,C,27.0,6-10,240.0,North Carolina,6980802.0,Basketball
432,Maurice Harkless,Portland Trail Blazers,4.0,SF,23.0,6-9,215.0,St. John's,2894059.0,Basketball
433,Gerald Henderson,Portland Trail Blazers,9.0,SG,28.0,6-5,215.0,Duke,6000000.0,Basketball
434,Chris Kaman,Portland Trail Blazers,35.0,C,34.0,7-0,265.0,Central Michigan,5016000.0,Basketball
435,Meyers Leonard,Portland Trail Blazers,11.0,PF,24.0,7-1,245.0,Illinois,3075880.0,Basketball
436,Damian Lillard,Portland Trail Blazers,0.0,PG,25.0,6-3,195.0,Weber State,4236287.0,Basketball
437,C.J. McCollum,Portland Trail Blazers,3.0,SG,24.0,6-4,200.0,Lehigh,2525160.0,Basketball
438,Luis Montero,Portland Trail Blazers,44.0,SG,23.0,6-7,185.0,Westchester CC,525093.0,Basketball
439,Mason Plumlee,Portland Trail Blazers,24.0,C,26.0,6-11,235.0,Duke,1415520.0,Basketball
440,Brian Roberts,Portland Trail Blazers,2.0,PG,30.0,6-1,173.0,Dayton,2854940.0,Basketball
441,Noah Vonleh,Portland Trail Blazers,21.0,PF,20.0,6-9,240.0,Indiana,2637720.0,Basketball
442,Trevor Booker,Utah Jazz,33.0,PF,28.0,6-8,228.0,Clemson,4775000.0,Basketball
443,Trey Burke,Utah Jazz,3.0,PG,23.0,6-1,191.0,Michigan,2658240.0,Basketball
444,Alec Burks,Utah Jazz,10.0,SG,24.0,6-6,214.0,Colorado,9463484.0,Basketball
445,Dante Exum,Utah Jazz,11.0,PG,20.0,6-6,190.0,NaN,3777720.0,Basketball
446,Derrick Favors,Utah Jazz,15.0,PF,24.0,6-10,265.0,Georgia Tech,12000000.0,Basketball
447,Rudy Gobert,Utah Jazz,27.0,C,23.0,7-1,245.0,NaN,1175880.0,Basketball
448,Gordon Hayward,Utah Jazz,20.0,SF,26.0,6-8,226.0,Butler,15409570.0,Basketball
449,Rodney Hood,Utah Jazz,5.0,SG,23.0,6-8,206.0,Duke,1348440.0,Basketball
450,Joe Ingles,Utah Jazz,2.0,SF,28.0,6-8,226.0,NaN,2050000.0,Basketball
451,Chris Johnson,Utah Jazz,23.0,SF,26.0,6-6,206.0,Dayton,981348.0,Basketball
452,Trey Lyles,Utah Jazz,41.0,PF,20.0,6-10,234.0,Kentucky,2239800.0,Basketball
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0,Basketball
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0,Basketball
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0,Basketball
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0,Basketball
457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Basketball

In [63]:
nba.head(3)

,Name,Team,Number,Position,Age,Height,Weight,College,Salary,Sport
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0,Basketball
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0,Basketball
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN,Basketball

In [66]:
nba["League"] = "NBA"

In [67]:
nba.head(3)

,Name,Team,Number,Position,Age,Height,Weight,College,Salary,Sport,League
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0,Basketball,NBA
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0,Basketball,NBA
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN,Basketball,NBA

In [68]:
nba = pd.read_csv("nba.csv")

In [70]:
nba.head(3)

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN

In [73]:
# Don't need to use in-place parameter 
nba.insert(3, column = "Sport", value = "Basketball")

In [74]:
nba

,Name,Team,Number,Sport,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,Basketball,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,Basketball,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,Basketball,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,Basketball,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,Basketball,PF,29.0,6-10,231.0,NaN,5000000.0
5,Amir Johnson,Boston Celtics,90.0,Basketball,PF,29.0,6-9,240.0,NaN,12000000.0
6,Jordan Mickey,Boston Celtics,55.0,Basketball,PF,21.0,6-8,235.0,LSU,1170960.0
7,Kelly Olynyk,Boston Celtics,41.0,Basketball,C,25.0,7-0,238.0,Gonzaga,2165160.0
8,Terry Rozier,Boston Celtics,12.0,Basketball,PG,22.0,6-2,190.0,Louisville,1824360.0
9,Marcus Smart,Boston Celtics,36.0,Basketball,PG,22.0,6-4,220.0,Oklahoma State,3431040.0
10,Jared Sullinger,Boston Celtics,7.0,Basketball,C,24.0,6-9,260.0,Ohio State,2569260.0
11,Isaiah Thomas,Boston Celtics,4.0,Basketball,PG,27.0,5-9,185.0,Washington,6912869.0
12,Evan Turner,Boston Celtics,11.0,Basketball,SG,27.0,6-7,220.0,Ohio State,3425510.0
13,James Young,Boston Celtics,13.0,Basketball,SG,20.0,6-6,215.0,Kentucky,1749840.0
14,Tyler Zeller,Boston Celtics,44.0,Basketball,C,26.0,7-0,253.0,North Carolina,2616975.0
15,Bojan Bogdanovic,Brooklyn Nets,44.0,Basketball,SG,27.0,6-8,216.0,NaN,3425510.0
16,Markel Brown,Brooklyn Nets,22.0,Basketball,SG,24.0,6-3,190.0,Oklahoma State,845059.0
17,Wayne Ellington,Brooklyn Nets,21.0,Basketball,SG,28.0,6-4,200.0,North Carolina,1500000.0
18,Rondae Hollis-Jefferson,Brooklyn Nets,24.0,Basketball,SG,21.0,6-7,220.0,Arizona,1335480.0
19,Jarrett Jack,Brooklyn Nets,2.0,Basketball,PG,32.0,6-3,200.0,Georgia Tech,6300000.0
20,Sergey Karasev,Brooklyn Nets,10.0,Basketball,SG,22.0,6-7,208.0,NaN,1599840.0
21,Sean Kilpatrick,Brooklyn Nets,6.0,Basketball,SG,26.0,6-4,219.0,Cincinnati,134215.0
22,Shane Larkin,Brooklyn Nets,0.0,Basketball,PG,23.0,5-11,175.0,Miami (FL),1500000.0
23,Brook Lopez,Brooklyn Nets,11.0,Basketball,C,28.0,7-0,275.0,Stanford,19689000.0
24,Chris McCullough,Brooklyn Nets,1.0,Basketball,PF,21.0,6-11,200.0,Syracuse,1140240.0
25,Willie Reed,Brooklyn Nets,33.0,Basketball,PF,26.0,6-10,220.0,Saint Louis,947276.0
26,Thomas Robinson,Brooklyn Nets,41.0,Basketball,PF,25.0,6-10,237.0,Kansas,981348.0
27,Henry Sims,Brooklyn Nets,14.0,Basketball,C,26.0,6-10,248.0,Georgetown,947276.0
28,Donald Sloan,Brooklyn Nets,15.0,Basketball,PG,28.0,6-3,205.0,Texas A&M,947276.0
29,Thaddeus Young,Brooklyn Nets,30.0,Basketball,PF,27.0,6-8,221.0,Georgia Tech,11235955.0
...,...,...,...,...,...,...,...,...,...,...
428,Al-Farouq Aminu,Portland Trail Blazers,8.0,Basketball,SF,25.0,6-9,215.0,Wake Forest,8042895.0
429,Pat Connaughton,Portland Trail Blazers,5.0,Basketball,SG,23.0,6-5,206.0,Notre Dame,625093.0
430,Allen Crabbe,Portland Trail Blazers,23.0,Basketball,SG,24.0,6-6,210.0,California,947276.0
431,Ed Davis,Portland Trail Blazers,17.0,Basketball,C,27.0,6-10,240.0,North Carolina,6980802.0
432,Maurice Harkless,Portland Trail Blazers,4.0,Basketball,SF,23.0,6-9,215.0,St. John's,2894059.0
433,Gerald Henderson,Portland Trail Blazers,9.0,Basketball,SG,28.0,6-5,215.0,Duke,6000000.0
434,Chris Kaman,Portland Trail Blazers,35.0,Basketball,C,34.0,7-0,265.0,Central Michigan,5016000.0
435,Meyers Leonard,Portland Trail Blazers,11.0,Basketball,PF,24.0,7-1,245.0,Illinois,3075880.0
436,Damian Lillard,Portland Trail Blazers,0.0,Basketball,PG,25.0,6-3,195.0,Weber State,4236287.0
437,C.J. McCollum,Portland Trail Blazers,3.0,Basketball,SG,24.0,6-4,200.0,Lehigh,2525160.0
438,Luis Montero,Portland Trail Blazers,44.0,Basketball,SG,23.0,6-7,185.0,Westchester CC,525093.0
439,Mason Plumlee,Portland Trail Blazers,24.0,Basketball,C,26.0,6-11,235.0,Duke,1415520.0
440,Brian Roberts,Portland Trail Blazers,2.0,Basketball,PG,30.0,6-1,173.0,Dayton,2854940.0
441,Noah Vonleh,Portland Trail Blazers,21.0,Basketball,PF,20.0,6-9,240.0,Indiana,2637720.0
442,Trevor Booker,Utah Jazz,33.0,Basketball,PF,28.0,6-8,228.0,Clemson,4775000.0
443,Trey Burke,Utah Jazz,3.0,Basketball,PG,23.0,6-1,191.0,Michigan,2658240.0
444,Alec Burks,Utah Jazz,10.0,Basketball,SG,24.0,6-6,214.0,Colorado,9463484.0
445,Dante Exum,Utah Jazz,11.0,Basketball,PG,20.0,6-6,190.0,NaN,3777720.0
446,Derrick Favors,Utah Jazz,15.0,Basketball,PF,24.0,6-10,265.0,Georgia Tech,12000000.0
447,Rudy Gobert,Utah Jazz,27.0,Basketball,C,23.0,7-1,245.0,NaN,1175880.0
448,Gordon Hayward,Utah Jazz,20.0,Basketball,SF,26.0,6-8,226.0,Butler,15409570.0
449,Rodney Hood,Utah Jazz,5.0,Basketball,SG,23.0,6-8,206.0,Duke,1348440.0
450,Joe Ingles,Utah Jazz,2.0,Basketball,SF,28.0,6-8,226.0,NaN,2050000.0
451,Chris Johnson,Utah Jazz,23.0,Basketball,SF,26.0,6-6,206.0,Dayton,981348.0
452,Trey Lyles,Utah Jazz,41.0,Basketball,PF,20.0,6-10,234.0,Kentucky,2239800.0
453,Shelvin Mack,Utah Jazz,8.0,Basketball,PG,26.0,6-3,203.0,Butler,2433333.0
454,Raul Neto,Utah Jazz,25.0,Basketball,PG,24.0,6-1,179.0,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21.0,Basketball,C,26.0,7-3,256.0,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24.0,Basketball,C,26.0,7-0,231.0,Kansas,947276.0
457,NaN,NaN,NaN,Basketball,NaN,NaN,NaN,NaN,NaN,NaN

In [75]:
# First parameter is the position, second  is the new column name and the last is the value
nba.insert(7, column = "League", value = "NBA")

In [76]:
nba

,Name,Team,Number,Sport,Position,Age,Height,League,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,Basketball,PG,25.0,6-2,NBA,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,Basketball,SF,25.0,6-6,NBA,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,Basketball,SG,27.0,6-5,NBA,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,Basketball,SG,22.0,6-5,NBA,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,Basketball,PF,29.0,6-10,NBA,231.0,NaN,5000000.0
5,Amir Johnson,Boston Celtics,90.0,Basketball,PF,29.0,6-9,NBA,240.0,NaN,12000000.0
6,Jordan Mickey,Boston Celtics,55.0,Basketball,PF,21.0,6-8,NBA,235.0,LSU,1170960.0
7,Kelly Olynyk,Boston Celtics,41.0,Basketball,C,25.0,7-0,NBA,238.0,Gonzaga,2165160.0
8,Terry Rozier,Boston Celtics,12.0,Basketball,PG,22.0,6-2,NBA,190.0,Louisville,1824360.0
9,Marcus Smart,Boston Celtics,36.0,Basketball,PG,22.0,6-4,NBA,220.0,Oklahoma State,3431040.0
10,Jared Sullinger,Boston Celtics,7.0,Basketball,C,24.0,6-9,NBA,260.0,Ohio State,2569260.0
11,Isaiah Thomas,Boston Celtics,4.0,Basketball,PG,27.0,5-9,NBA,185.0,Washington,6912869.0
12,Evan Turner,Boston Celtics,11.0,Basketball,SG,27.0,6-7,NBA,220.0,Ohio State,3425510.0
13,James Young,Boston Celtics,13.0,Basketball,SG,20.0,6-6,NBA,215.0,Kentucky,1749840.0
14,Tyler Zeller,Boston Celtics,44.0,Basketball,C,26.0,7-0,NBA,253.0,North Carolina,2616975.0
15,Bojan Bogdanovic,Brooklyn Nets,44.0,Basketball,SG,27.0,6-8,NBA,216.0,NaN,3425510.0
16,Markel Brown,Brooklyn Nets,22.0,Basketball,SG,24.0,6-3,NBA,190.0,Oklahoma State,845059.0
17,Wayne Ellington,Brooklyn Nets,21.0,Basketball,SG,28.0,6-4,NBA,200.0,North Carolina,1500000.0
18,Rondae Hollis-Jefferson,Brooklyn Nets,24.0,Basketball,SG,21.0,6-7,NBA,220.0,Arizona,1335480.0
19,Jarrett Jack,Brooklyn Nets,2.0,Basketball,PG,32.0,6-3,NBA,200.0,Georgia Tech,6300000.0
20,Sergey Karasev,Brooklyn Nets,10.0,Basketball,SG,22.0,6-7,NBA,208.0,NaN,1599840.0
21,Sean Kilpatrick,Brooklyn Nets,6.0,Basketball,SG,26.0,6-4,NBA,219.0,Cincinnati,134215.0
22,Shane Larkin,Brooklyn Nets,0.0,Basketball,PG,23.0,5-11,NBA,175.0,Miami (FL),1500000.0
23,Brook Lopez,Brooklyn Nets,11.0,Basketball,C,28.0,7-0,NBA,275.0,Stanford,19689000.0
24,Chris McCullough,Brooklyn Nets,1.0,Basketball,PF,21.0,6-11,NBA,200.0,Syracuse,1140240.0
25,Willie Reed,Brooklyn Nets,33.0,Basketball,PF,26.0,6-10,NBA,220.0,Saint Louis,947276.0
26,Thomas Robinson,Brooklyn Nets,41.0,Basketball,PF,25.0,6-10,NBA,237.0,Kansas,981348.0
27,Henry Sims,Brooklyn Nets,14.0,Basketball,C,26.0,6-10,NBA,248.0,Georgetown,947276.0
28,Donald Sloan,Brooklyn Nets,15.0,Basketball,PG,28.0,6-3,NBA,205.0,Texas A&M,947276.0
29,Thaddeus Young,Brooklyn Nets,30.0,Basketball,PF,27.0,6-8,NBA,221.0,Georgia Tech,11235955.0
...,...,...,...,...,...,...,...,...,...,...,...
428,Al-Farouq Aminu,Portland Trail Blazers,8.0,Basketball,SF,25.0,6-9,NBA,215.0,Wake Forest,8042895.0
429,Pat Connaughton,Portland Trail Blazers,5.0,Basketball,SG,23.0,6-5,NBA,206.0,Notre Dame,625093.0
430,Allen Crabbe,Portland Trail Blazers,23.0,Basketball,SG,24.0,6-6,NBA,210.0,California,947276.0
431,Ed Davis,Portland Trail Blazers,17.0,Basketball,C,27.0,6-10,NBA,240.0,North Carolina,6980802.0
432,Maurice Harkless,Portland Trail Blazers,4.0,Basketball,SF,23.0,6-9,NBA,215.0,St. John's,2894059.0
433,Gerald Henderson,Portland Trail Blazers,9.0,Basketball,SG,28.0,6-5,NBA,215.0,Duke,6000000.0
434,Chris Kaman,Portland Trail Blazers,35.0,Basketball,C,34.0,7-0,NBA,265.0,Central Michigan,5016000.0
435,Meyers Leonard,Portland Trail Blazers,11.0,Basketball,PF,24.0,7-1,NBA,245.0,Illinois,3075880.0
436,Damian Lillard,Portland Trail Blazers,0.0,Basketball,PG,25.0,6-3,NBA,195.0,Weber State,4236287.0
437,C.J. McCollum,Portland Trail Blazers,3.0,Basketball,SG,24.0,6-4,NBA,200.0,Lehigh,2525160.0
438,Luis Montero,Portland Trail Blazers,44.0,Basketball,SG,23.0,6-7,NBA,185.0,Westchester CC,525093.0
439,Mason Plumlee,Portland Trail Blazers,24.0,Basketball,C,26.0,6-11,NBA,235.0,Duke,1415520.0
440,Brian Roberts,Portland Trail Blazers,2.0,Basketball,PG,30.0,6-1,NBA,173.0,Dayton,2854940.0
441,Noah Vonleh,Portland Trail Blazers,21.0,Basketball,PF,20.0,6-9,NBA,240.0,Indiana,2637720.0
442,Trevor Booker,Utah Jazz,33.0,Basketball,PF,28.0,6-8,NBA,228.0,Clemson,4775000.0
443,Trey Burke,Utah Jazz,3.0,Basketball,PG,23.0,6-1,NBA,191.0,Michigan,2658240.0
444,Alec Burks,Utah Jazz,10.0,Basketball,SG,24.0,6-6,NBA,214.0,Colorado,9463484.0
445,Dante Exum,Utah Jazz,11.0,Basketball,PG,20.0,6-6,NBA,190.0,NaN,3777720.0
446,Derrick Favors,Utah Jazz,15.0,Basketball,PF,24.0,6-10,NBA,265.0,Georgia Tech,12000000.0
447,Rudy Gobert,Utah Jazz,27.0,Basketball,C,23.0,7-1,NBA,245.0,NaN,1175880.0
448,Gordon Hayward,Utah Jazz,20.0,Basketball,SF,26.0,6-8,NBA,226.0,Butler,15409570.0
449,Rodney Hood,Utah Jazz,5.0,Basketball,SG,23.0,6-8,NBA,206.0,Duke,1348440.0
450,Joe Ingles,Utah Jazz,2.0,Basketball,SF,28.0,6-8,NBA,226.0,NaN,2050000.0
451,Chris Johnson,Utah Jazz,23.0,Basketball,SF,26.0,6-6,NBA,206.0,Dayton,981348.0
452,Trey Lyles,Utah Jazz,41.0,Basketball,PF,20.0,6-10,NBA,234.0,Kentucky,2239800.0
453,Shelvin Mack,Utah Jazz,8.0,Basketball,PG,26.0,6-3,NBA,203.0,Butler,2433333.0
454,Raul Neto,Utah Jazz,25.0,Basketball,PG,24.0,6-1,NBA,179.0,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21.0,Basketball,C,26.0,7-3,NBA,256.0,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24.0,Basketball,C,26.0,7-0,NBA,231.0,Kansas,947276.0
457,NaN,NaN,NaN,Basketball,NaN,NaN,NaN,NBA,NaN,NaN,NaN

# Broadcasting Operations

In [94]:
nba = pd.read_csv("nba.csv")

In [95]:
nba.head(3)

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN

In [96]:
# Add 5 to every value in the age column
nba["Age"].add(5)

0      30.0
1      30.0
2      32.0
3      27.0
4      34.0
5      34.0
6      26.0
7      30.0
8      27.0
9      27.0
10     29.0
11     32.0
12     32.0
13     25.0
14     31.0
15     32.0
16     29.0
17     33.0
18     26.0
19     37.0
20     27.0
21     31.0
22     28.0
23     33.0
24     26.0
25     31.0
26     30.0
27     31.0
28     33.0
29     32.0
       ...
428    30.0
429    28.0
430    29.0
431    32.0
432    28.0
433    33.0
434    39.0
435    29.0
436    30.0
437    29.0
438    28.0
439    31.0
440    35.0
441    25.0
442    33.0
443    28.0
444    29.0
445    25.0
446    29.0
447    28.0
448    31.0
449    28.0
450    33.0
451    31.0
452    25.0
453    31.0
454    29.0
455    31.0
456    31.0
457     NaN
Name: Age, Length: 458, dtype: float64

In [97]:
nba["Age"] + 5

0      30.0
1      30.0
2      32.0
3      27.0
4      34.0
5      34.0
6      26.0
7      30.0
8      27.0
9      27.0
10     29.0
11     32.0
12     32.0
13     25.0
14     31.0
15     32.0
16     29.0
17     33.0
18     26.0
19     37.0
20     27.0
21     31.0
22     28.0
23     33.0
24     26.0
25     31.0
26     30.0
27     31.0
28     33.0
29     32.0
       ...
428    30.0
429    28.0
430    29.0
431    32.0
432    28.0
433    33.0
434    39.0
435    29.0
436    30.0
437    29.0
438    28.0
439    31.0
440    35.0
441    25.0
442    33.0
443    28.0
444    29.0
445    25.0
446    29.0
447    28.0
448    31.0
449    28.0
450    33.0
451    31.0
452    25.0
453    31.0
454    29.0
455    31.0
456    31.0
457     NaN
Name: Age, Length: 458, dtype: float64

In [98]:
nba["Salary"].sub(5000000)

0       2730337.0
1       1796117.0
2             NaN
3      -3851360.0
4             0.0
5       7000000.0
6      -3829040.0
7      -2834840.0
8      -3175640.0
9      -1568960.0
10     -2430740.0
11      1912869.0
12     -1574490.0
13     -3250160.0
14     -2383025.0
15     -1574490.0
16     -4154941.0
17     -3500000.0
18     -3664520.0
19      1300000.0
20     -3400160.0
21     -4865785.0
22     -3500000.0
23     14689000.0
24     -3859760.0
25     -4052724.0
26     -4018652.0
27     -4052724.0
28     -4052724.0
29      6235955.0
          ...
428     3042895.0
429    -4374907.0
430    -4052724.0
431     1980802.0
432    -2105941.0
433     1000000.0
434       16000.0
435    -1924120.0
436     -763713.0
437    -2474840.0
438    -4474907.0
439    -3584480.0
440    -2145060.0
441    -2362280.0
442     -225000.0
443    -2341760.0
444     4463484.0
445    -1222280.0
446     7000000.0
447    -3824120.0
448    10409570.0
449    -3651560.0
450    -2950000.0
451    -4018652.0
452    -2760200.0
453    -2566667.0
454    -4100000.0
455    -2100000.0
456    -4052724.0
457           NaN
Name: Salary, Length: 458, dtype: float64

In [99]:
nba['Salary'] - 5000000

0       2730337.0
1       1796117.0
2             NaN
3      -3851360.0
4             0.0
5       7000000.0
6      -3829040.0
7      -2834840.0
8      -3175640.0
9      -1568960.0
10     -2430740.0
11      1912869.0
12     -1574490.0
13     -3250160.0
14     -2383025.0
15     -1574490.0
16     -4154941.0
17     -3500000.0
18     -3664520.0
19      1300000.0
20     -3400160.0
21     -4865785.0
22     -3500000.0
23     14689000.0
24     -3859760.0
25     -4052724.0
26     -4018652.0
27     -4052724.0
28     -4052724.0
29      6235955.0
          ...
428     3042895.0
429    -4374907.0
430    -4052724.0
431     1980802.0
432    -2105941.0
433     1000000.0
434       16000.0
435    -1924120.0
436     -763713.0
437    -2474840.0
438    -4474907.0
439    -3584480.0
440    -2145060.0
441    -2362280.0
442     -225000.0
443    -2341760.0
444     4463484.0
445    -1222280.0
446     7000000.0
447    -3824120.0
448    10409570.0
449    -3651560.0
450    -2950000.0
451    -4018652.0
452    -2760200.0
453    -2566667.0
454    -4100000.0
455    -2100000.0
456    -4052724.0
457           NaN
Name: Salary, Length: 458, dtype: float64

In [100]:
# Weight in kg
nba["Weight"].mul(0.453592)

0       81.646560
1      106.594120
2       92.986360
3       83.914520
4      104.779752
5      108.862080
6      106.594120
7      107.954896
8       86.182480
9       99.790240
10     117.933920
11      83.914520
12      99.790240
13      97.522280
14     114.758776
15      97.975872
16      86.182480
17      90.718400
18      99.790240
19      90.718400
20      94.347136
21      99.336648
22      79.378600
23     124.737800
24      90.718400
25      99.790240
26     107.501304
27     112.490816
28      92.986360
29     100.243832
          ...
428     97.522280
429     93.439952
430     95.254320
431    108.862080
432     97.522280
433     97.522280
434    120.201880
435    111.130040
436     88.450440
437     90.718400
438     83.914520
439    106.594120
440     78.471416
441    108.862080
442    103.418976
443     86.636072
444     97.068688
445     86.182480
446    120.201880
447    111.130040
448    102.511792
449     93.439952
450    102.511792
451     93.439952
452    106.140528
453     92.079176
454     81.192968
455    116.119552
456    104.779752
457           NaN
Name: Weight, Length: 458, dtype: float64

In [101]:
nba["Weight"]

0      180.0
1      235.0
2      205.0
3      185.0
4      231.0
5      240.0
6      235.0
7      238.0
8      190.0
9      220.0
10     260.0
11     185.0
12     220.0
13     215.0
14     253.0
15     216.0
16     190.0
17     200.0
18     220.0
19     200.0
20     208.0
21     219.0
22     175.0
23     275.0
24     200.0
25     220.0
26     237.0
27     248.0
28     205.0
29     221.0
       ...
428    215.0
429    206.0
430    210.0
431    240.0
432    215.0
433    215.0
434    265.0
435    245.0
436    195.0
437    200.0
438    185.0
439    235.0
440    173.0
441    240.0
442    228.0
443    191.0
444    214.0
445    190.0
446    265.0
447    245.0
448    226.0
449    206.0
450    226.0
451    206.0
452    234.0
453    203.0
454    179.0
455    256.0
456    231.0
457      NaN
Name: Weight, Length: 458, dtype: float64

In [102]:
nba["Weight in Kg"] = nba["Weight"] * 0.45392

In [103]:
nba

,Name,Team,Number,Position,Age,Height,Weight,College,Salary,Weight in Kg
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0,81.70560
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0,106.67120
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN,93.05360
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0,83.97520
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0,104.85552
5,Amir Johnson,Boston Celtics,90.0,PF,29.0,6-9,240.0,NaN,12000000.0,108.94080
6,Jordan Mickey,Boston Celtics,55.0,PF,21.0,6-8,235.0,LSU,1170960.0,106.67120
7,Kelly Olynyk,Boston Celtics,41.0,C,25.0,7-0,238.0,Gonzaga,2165160.0,108.03296
8,Terry Rozier,Boston Celtics,12.0,PG,22.0,6-2,190.0,Louisville,1824360.0,86.24480
9,Marcus Smart,Boston Celtics,36.0,PG,22.0,6-4,220.0,Oklahoma State,3431040.0,99.86240
10,Jared Sullinger,Boston Celtics,7.0,C,24.0,6-9,260.0,Ohio State,2569260.0,118.01920
11,Isaiah Thomas,Boston Celtics,4.0,PG,27.0,5-9,185.0,Washington,6912869.0,83.97520
12,Evan Turner,Boston Celtics,11.0,SG,27.0,6-7,220.0,Ohio State,3425510.0,99.86240
13,James Young,Boston Celtics,13.0,SG,20.0,6-6,215.0,Kentucky,1749840.0,97.59280
14,Tyler Zeller,Boston Celtics,44.0,C,26.0,7-0,253.0,North Carolina,2616975.0,114.84176
15,Bojan Bogdanovic,Brooklyn Nets,44.0,SG,27.0,6-8,216.0,NaN,3425510.0,98.04672
16,Markel Brown,Brooklyn Nets,22.0,SG,24.0,6-3,190.0,Oklahoma State,845059.0,86.24480
17,Wayne Ellington,Brooklyn Nets,21.0,SG,28.0,6-4,200.0,North Carolina,1500000.0,90.78400
18,Rondae Hollis-Jefferson,Brooklyn Nets,24.0,SG,21.0,6-7,220.0,Arizona,1335480.0,99.86240
19,Jarrett Jack,Brooklyn Nets,2.0,PG,32.0,6-3,200.0,Georgia Tech,6300000.0,90.78400
20,Sergey Karasev,Brooklyn Nets,10.0,SG,22.0,6-7,208.0,NaN,1599840.0,94.41536
21,Sean Kilpatrick,Brooklyn Nets,6.0,SG,26.0,6-4,219.0,Cincinnati,134215.0,99.40848
22,Shane Larkin,Brooklyn Nets,0.0,PG,23.0,5-11,175.0,Miami (FL),1500000.0,79.43600
23,Brook Lopez,Brooklyn Nets,11.0,C,28.0,7-0,275.0,Stanford,19689000.0,124.82800
24,Chris McCullough,Brooklyn Nets,1.0,PF,21.0,6-11,200.0,Syracuse,1140240.0,90.78400
25,Willie Reed,Brooklyn Nets,33.0,PF,26.0,6-10,220.0,Saint Louis,947276.0,99.86240
26,Thomas Robinson,Brooklyn Nets,41.0,PF,25.0,6-10,237.0,Kansas,981348.0,107.57904
27,Henry Sims,Brooklyn Nets,14.0,C,26.0,6-10,248.0,Georgetown,947276.0,112.57216
28,Donald Sloan,Brooklyn Nets,15.0,PG,28.0,6-3,205.0,Texas A&M,947276.0,93.05360
29,Thaddeus Young,Brooklyn Nets,30.0,PF,27.0,6-8,221.0,Georgia Tech,11235955.0,100.31632
...,...,...,...,...,...,...,...,...,...,...
428,Al-Farouq Aminu,Portland Trail Blazers,8.0,SF,25.0,6-9,215.0,Wake Forest,8042895.0,97.59280
429,Pat Connaughton,Portland Trail Blazers,5.0,SG,23.0,6-5,206.0,Notre Dame,625093.0,93.50752
430,Allen Crabbe,Portland Trail Blazers,23.0,SG,24.0,6-6,210.0,California,947276.0,95.32320
431,Ed Davis,Portland Trail Blazers,17.0,C,27.0,6-10,240.0,North Carolina,6980802.0,108.94080
432,Maurice Harkless,Portland Trail Blazers,4.0,SF,23.0,6-9,215.0,St. John's,2894059.0,97.59280
433,Gerald Henderson,Portland Trail Blazers,9.0,SG,28.0,6-5,215.0,Duke,6000000.0,97.59280
434,Chris Kaman,Portland Trail Blazers,35.0,C,34.0,7-0,265.0,Central Michigan,5016000.0,120.28880
435,Meyers Leonard,Portland Trail Blazers,11.0,PF,24.0,7-1,245.0,Illinois,3075880.0,111.21040
436,Damian Lillard,Portland Trail Blazers,0.0,PG,25.0,6-3,195.0,Weber State,4236287.0,88.51440
437,C.J. McCollum,Portland Trail Blazers,3.0,SG,24.0,6-4,200.0,Lehigh,2525160.0,90.78400
438,Luis Montero,Portland Trail Blazers,44.0,SG,23.0,6-7,185.0,Westchester CC,525093.0,83.97520
439,Mason Plumlee,Portland Trail Blazers,24.0,C,26.0,6-11,235.0,Duke,1415520.0,106.67120
440,Brian Roberts,Portland Trail Blazers,2.0,PG,30.0,6-1,173.0,Dayton,2854940.0,78.52816
441,Noah Vonleh,Portland Trail Blazers,21.0,PF,20.0,6-9,240.0,Indiana,2637720.0,108.94080
442,Trevor Booker,Utah Jazz,33.0,PF,28.0,6-8,228.0,Clemson,4775000.0,103.49376
443,Trey Burke,Utah Jazz,3.0,PG,23.0,6-1,191.0,Michigan,2658240.0,86.69872
444,Alec Burks,Utah Jazz,10.0,SG,24.0,6-6,214.0,Colorado,9463484.0,97.13888
445,Dante Exum,Utah Jazz,11.0,PG,20.0,6-6,190.0,NaN,3777720.0,86.24480
446,Derrick Favors,Utah Jazz,15.0,PF,24.0,6-10,265.0,Georgia Tech,12000000.0,120.28880
447,Rudy Gobert,Utah Jazz,27.0,C,23.0,7-1,245.0,NaN,1175880.0,111.21040
448,Gordon Hayward,Utah Jazz,20.0,SF,26.0,6-8,226.0,Butler,15409570.0,102.58592
449,Rodney Hood,Utah Jazz,5.0,SG,23.0,6-8,206.0,Duke,1348440.0,93.50752
450,Joe Ingles,Utah Jazz,2.0,SF,28.0,6-8,226.0,NaN,2050000.0,102.58592
451,Chris Johnson,Utah Jazz,23.0,SF,26.0,6-6,206.0,Dayton,981348.0,93.50752
452,Trey Lyles,Utah Jazz,41.0,PF,20.0,6-10,234.0,Kentucky,2239800.0,106.21728
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0,92.14576
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0,81.25168
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0,116.20352
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0,104.85552
457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [104]:
nba.head(3)

,Name,Team,Number,Position,Age,Height,Weight,College,Salary,Weight in Kg
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0,81.7056
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0,106.6712
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN,93.0536

In [106]:
nba["Salary"].div(1000000)

0       7.730337
1       6.796117
2            NaN
3       1.148640
4       5.000000
5      12.000000
6       1.170960
7       2.165160
8       1.824360
9       3.431040
10      2.569260
11      6.912869
12      3.425510
13      1.749840
14      2.616975
15      3.425510
16      0.845059
17      1.500000
18      1.335480
19      6.300000
20      1.599840
21      0.134215
22      1.500000
23     19.689000
24      1.140240
25      0.947276
26      0.981348
27      0.947276
28      0.947276
29     11.235955
         ...
428     8.042895
429     0.625093
430     0.947276
431     6.980802
432     2.894059
433     6.000000
434     5.016000
435     3.075880
436     4.236287
437     2.525160
438     0.525093
439     1.415520
440     2.854940
441     2.637720
442     4.775000
443     2.658240
444     9.463484
445     3.777720
446    12.000000
447     1.175880
448    15.409570
449     1.348440
450     2.050000
451     0.981348
452     2.239800
453     2.433333
454     0.900000
455     2.900000
456     0.947276
457          NaN
Name: Salary, Length: 458, dtype: float64

In [109]:
nba["Salary in Millions"] = nba["Salary"] / 1000000

In [110]:
nba["Salary in Millions"]

0       7.730337
1       6.796117
2            NaN
3       1.148640
4       5.000000
5      12.000000
6       1.170960
7       2.165160
8       1.824360
9       3.431040
10      2.569260
11      6.912869
12      3.425510
13      1.749840
14      2.616975
15      3.425510
16      0.845059
17      1.500000
18      1.335480
19      6.300000
20      1.599840
21      0.134215
22      1.500000
23     19.689000
24      1.140240
25      0.947276
26      0.981348
27      0.947276
28      0.947276
29     11.235955
         ...
428     8.042895
429     0.625093
430     0.947276
431     6.980802
432     2.894059
433     6.000000
434     5.016000
435     3.075880
436     4.236287
437     2.525160
438     0.525093
439     1.415520
440     2.854940
441     2.637720
442     4.775000
443     2.658240
444     9.463484
445     3.777720
446    12.000000
447     1.175880
448    15.409570
449     1.348440
450     2.050000
451     0.981348
452     2.239800
453     2.433333
454     0.900000
455     2.900000
456     0.947276
457          NaN
Name: Salary in Millions, Length: 458, dtype: float64

In [112]:
nba.head(3)

,Name,Team,Number,Position,Age,Height,Weight,College,Salary,Weight in Kg,Salary in Millions
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0,81.7056,7.730337
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0,106.6712,6.796117
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN,93.0536,NaN

# A Review of the Value Counts Method

In [113]:
nba["Team"].value_counts()

New Orleans Pelicans      19
Memphis Grizzlies         18
Milwaukee Bucks           16
New York Knicks           16
Denver Nuggets            15
Charlotte Hornets         15
Los Angeles Lakers        15
Chicago Bulls             15
San Antonio Spurs         15
Philadelphia 76ers        15
Toronto Raptors           15
Detroit Pistons           15
Boston Celtics            15
Miami Heat                15
Utah Jazz                 15
Portland Trail Blazers    15
Los Angeles Clippers      15
Phoenix Suns              15
Golden State Warriors     15
Cleveland Cavaliers       15
Washington Wizards        15
Atlanta Hawks             15
Brooklyn Nets             15
Houston Rockets           15
Dallas Mavericks          15
Sacramento Kings          15
Indiana Pacers            15
Oklahoma City Thunder     15
Orlando Magic             14
Minnesota Timberwolves    14
Name: Team, dtype: int64

In [116]:
nba["Position"].value_counts().head(1)

SG    102
Name: Position, dtype: int64

In [117]:
nba["Weight"].value_counts().tail()

278.0    1
227.0    1
239.0    1
289.0    1
307.0    1
Name: Weight, dtype: int64

In [119]:
nba["Salary"].value_counts()

947276.0      31
845059.0      18
525093.0      13
981348.0       6
1100602.0      5
16407500.0     5
5000000.0      5
12000000.0     5
8000000.0      5
4000000.0      5
3000000.0      4
7000000.0      4
2814000.0      4
1000000.0      4
19689000.0     4
200600.0       3
8500000.0      3
2500000.0      3
1015421.0      3
2854940.0      3
13500000.0     3
5543725.0      3
2288205.0      2
1270964.0      2
2900000.0      2
1007026.0      2
111444.0       2
13000000.0     2
1500000.0      2
1842000.0      2
              ..
2239800.0      1
1474440.0      1
19688000.0     1
7900000.0      1
2008748.0      1
13800000.0     1
2841960.0      1
1404600.0      1
1584480.0      1
273038.0       1
9213483.0      1
3272091.0      1
3075880.0      1
2250000.0      1
4626960.0      1
1304520.0      1
12100000.0     1
7500000.0      1
295327.0       1
2836186.0      1
6486486.0      1
5016000.0      1
3333333.0      1
1824360.0      1
8042895.0      1
1242720.0      1
2489530.0      1
5103120.0      1
9463484.0      1
700902.0       1
Name: Salary, Length: 309, dtype: int64

# Drop Rows with Null Values

In [122]:
# Drop any rows where there is one or more null values
nbadropped = nba.dropna()

In [121]:
nba[nba["Name"] == "John Holland"]

,Name,Team,Number,Position,Age,Height,Weight,College,Salary,Weight in Kg,Salary in Millions
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN,93.0536,NaN

In [123]:
nbadropped[nbadropped["Name"] == "John Holland"]

Empty DataFrame
Columns: [Name, Team, Number, Position, Age, Height, Weight, College, Salary, Weight in Kg, Salary in Millions]
Index: []

In [124]:
# Now drops if all of the values are null
nba.dropna(how = "all")

,Name,Team,Number,Position,Age,Height,Weight,College,Salary,Weight in Kg,Salary in Millions
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0,81.70560,7.730337
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0,106.67120,6.796117
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN,93.05360,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0,83.97520,1.148640
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0,104.85552,5.000000
5,Amir Johnson,Boston Celtics,90.0,PF,29.0,6-9,240.0,NaN,12000000.0,108.94080,12.000000
6,Jordan Mickey,Boston Celtics,55.0,PF,21.0,6-8,235.0,LSU,1170960.0,106.67120,1.170960
7,Kelly Olynyk,Boston Celtics,41.0,C,25.0,7-0,238.0,Gonzaga,2165160.0,108.03296,2.165160
8,Terry Rozier,Boston Celtics,12.0,PG,22.0,6-2,190.0,Louisville,1824360.0,86.24480,1.824360
9,Marcus Smart,Boston Celtics,36.0,PG,22.0,6-4,220.0,Oklahoma State,3431040.0,99.86240,3.431040
10,Jared Sullinger,Boston Celtics,7.0,C,24.0,6-9,260.0,Ohio State,2569260.0,118.01920,2.569260
11,Isaiah Thomas,Boston Celtics,4.0,PG,27.0,5-9,185.0,Washington,6912869.0,83.97520,6.912869
12,Evan Turner,Boston Celtics,11.0,SG,27.0,6-7,220.0,Ohio State,3425510.0,99.86240,3.425510
13,James Young,Boston Celtics,13.0,SG,20.0,6-6,215.0,Kentucky,1749840.0,97.59280,1.749840
14,Tyler Zeller,Boston Celtics,44.0,C,26.0,7-0,253.0,North Carolina,2616975.0,114.84176,2.616975
15,Bojan Bogdanovic,Brooklyn Nets,44.0,SG,27.0,6-8,216.0,NaN,3425510.0,98.04672,3.425510
16,Markel Brown,Brooklyn Nets,22.0,SG,24.0,6-3,190.0,Oklahoma State,845059.0,86.24480,0.845059
17,Wayne Ellington,Brooklyn Nets,21.0,SG,28.0,6-4,200.0,North Carolina,1500000.0,90.78400,1.500000
18,Rondae Hollis-Jefferson,Brooklyn Nets,24.0,SG,21.0,6-7,220.0,Arizona,1335480.0,99.86240,1.335480
19,Jarrett Jack,Brooklyn Nets,2.0,PG,32.0,6-3,200.0,Georgia Tech,6300000.0,90.78400,6.300000
20,Sergey Karasev,Brooklyn Nets,10.0,SG,22.0,6-7,208.0,NaN,1599840.0,94.41536,1.599840
21,Sean Kilpatrick,Brooklyn Nets,6.0,SG,26.0,6-4,219.0,Cincinnati,134215.0,99.40848,0.134215
22,Shane Larkin,Brooklyn Nets,0.0,PG,23.0,5-11,175.0,Miami (FL),1500000.0,79.43600,1.500000
23,Brook Lopez,Brooklyn Nets,11.0,C,28.0,7-0,275.0,Stanford,19689000.0,124.82800,19.689000
24,Chris McCullough,Brooklyn Nets,1.0,PF,21.0,6-11,200.0,Syracuse,1140240.0,90.78400,1.140240
25,Willie Reed,Brooklyn Nets,33.0,PF,26.0,6-10,220.0,Saint Louis,947276.0,99.86240,0.947276
26,Thomas Robinson,Brooklyn Nets,41.0,PF,25.0,6-10,237.0,Kansas,981348.0,107.57904,0.981348
27,Henry Sims,Brooklyn Nets,14.0,C,26.0,6-10,248.0,Georgetown,947276.0,112.57216,0.947276
28,Donald Sloan,Brooklyn Nets,15.0,PG,28.0,6-3,205.0,Texas A&M,947276.0,93.05360,0.947276
29,Thaddeus Young,Brooklyn Nets,30.0,PF,27.0,6-8,221.0,Georgia Tech,11235955.0,100.31632,11.235955
...,...,...,...,...,...,...,...,...,...,...,...
427,Cliff Alexander,Portland Trail Blazers,34.0,PF,20.0,6-8,240.0,Kansas,525093.0,108.94080,0.525093
428,Al-Farouq Aminu,Portland Trail Blazers,8.0,SF,25.0,6-9,215.0,Wake Forest,8042895.0,97.59280,8.042895
429,Pat Connaughton,Portland Trail Blazers,5.0,SG,23.0,6-5,206.0,Notre Dame,625093.0,93.50752,0.625093
430,Allen Crabbe,Portland Trail Blazers,23.0,SG,24.0,6-6,210.0,California,947276.0,95.32320,0.947276
431,Ed Davis,Portland Trail Blazers,17.0,C,27.0,6-10,240.0,North Carolina,6980802.0,108.94080,6.980802
432,Maurice Harkless,Portland Trail Blazers,4.0,SF,23.0,6-9,215.0,St. John's,2894059.0,97.59280,2.894059
433,Gerald Henderson,Portland Trail Blazers,9.0,SG,28.0,6-5,215.0,Duke,6000000.0,97.59280,6.000000
434,Chris Kaman,Portland Trail Blazers,35.0,C,34.0,7-0,265.0,Central Michigan,5016000.0,120.28880,5.016000
435,Meyers Leonard,Portland Trail Blazers,11.0,PF,24.0,7-1,245.0,Illinois,3075880.0,111.21040,3.075880
436,Damian Lillard,Portland Trail Blazers,0.0,PG,25.0,6-3,195.0,Weber State,4236287.0,88.51440,4.236287
437,C.J. McCollum,Portland Trail Blazers,3.0,SG,24.0,6-4,200.0,Lehigh,2525160.0,90.78400,2.525160
438,Luis Montero,Portland Trail Blazers,44.0,SG,23.0,6-7,185.0,Westchester CC,525093.0,83.97520,0.525093
439,Mason Plumlee,Portland Trail Blazers,24.0,C,26.0,6-11,235.0,Duke,1415520.0,106.67120,1.415520
440,Brian Roberts,Portland Trail Blazers,2.0,PG,30.0,6-1,173.0,Dayton,2854940.0,78.52816,2.854940
441,Noah Vonleh,Portland Trail Blazers,21.0,PF,20.0,6-9,240.0,Indiana,2637720.0,108.94080,2.637720
442,Trevor Booker,Utah Jazz,33.0,PF,28.0,6-8,228.0,Clemson,4775000.0,103.49376,4.775000
443,Trey Burke,Utah Jazz,3.0,PG,23.0,6-1,191.0,Michigan,2658240.0,86.69872,2.658240
444,Alec Burks,Utah Jazz,10.0,SG,24.0,6-6,214.0,Colorado,9463484.0,97.13888,9.463484
445,Dante Exum,Utah Jazz,11.0,PG,20.0,6-6,190.0,NaN,3777720.0,86.24480,3.777720
446,Derrick Favors,Utah Jazz,15.0,PF,24.0,6-10,265.0,Georgia Tech,12000000.0,120.28880,12.000000
447,Rudy Gobert,Utah Jazz,27.0,C,23.0,7-1,245.0,NaN,1175880.0,111.21040,1.175880
448,Gordon Hayward,Utah Jazz,20.0,SF,26.0,6-8,226.0,Butler,15409570.0,102.58592,15.409570
449,Rodney Hood,Utah Jazz,5.0,SG,23.0,6-8,206.0,Duke,1348440.0,93.50752,1.348440
450,Joe Ingles,Utah Jazz,2.0,SF,28.0,6-8,226.0,NaN,2050000.0,102.58592,2.050000
451,Chris Johnson,Utah Jazz,23.0,SF,26.0,6-6,206.0,Dayton,981348.0,93.50752,0.981348
452,Trey Lyles,Utah Jazz,41.0,PF,20.0,6-10,234.0,Kentucky,2239800.0,106.21728,2.239800
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0,92.14576,2.433333
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0,81.25168,0.900000
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0,116.20352,2.900000
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0,104.85552,0.947276